h1{
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: burlywood;
    margin: 0;

}
.giraDados{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px blue;
    border-radius: 5px;
}

.giraDados:hover{
    background-color: blue;
    
}

.dado{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    margin: 10px;

}

.main{
    display: block;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}

.graficoTexto{
    width: 100%; 
    margin-bottom: 5px;
    display: block;
}
.graficoTextoH6{
    display: block;
    margin: 5px;
}

.grafico{
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    margin: 5px;
    padding: 10px;
    
}

.graficoContent{
    
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    width: 20px;
    background-color: red;
}

.text{
    text-align: center;
}



@media  (min-width: 800px) {
    .grafico{
        justify-content: space-evenly;
    }

    .graficoContent{
        width: 30px;
    }

    .dado{
        width: 100PX;
        height: 100PX;
    }

}